@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;
@use "../../Styles/partials/typography" as *;
@use "../../Styles/global.scss" as *;

.edit-warehouse {
  background-color: $primary-white;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: -4.5rem;
  z-index: 99;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);

  &__title-container {
    padding: 0 1.5rem;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid $secondary-cloud;
  }

  &__warehouse-details,
  &__contact-details {
  }

  &__form {
    padding: 0 1.5rem;
  }

  &__input {
    display: block;
    width: 100%;
  }
}
