@use "../../Styles/partials/mixins" as *;
@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/typography" as *;

.warehouse {
  @include component-overlay;
  &__content {
    border-radius: 0.3125rem;
    box-shadow: 0rem 0.125rem 0.3125rem 0rem rgba(19, 24, 44, 0.1);
    background: $primary-white;

    border-radius: 0.2rem;
    height: 70%;
    width: 90%;
    margin-top: 5vh;

    @include tablet-breakpoint {
      margin-top: 5vh;
      height: 95%;
      width: 95%;
    }
  }
  &__content {
    @include component-content;
  }
  &__header {
    @include component-header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid $secondary-cloud;
  }
  &__header-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__header-edit {
    @include mobile-tablet-labels-buttons-text-style;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: $primary-indigo;
    border: none;
    @include tablet-breakpoint {
      width: auto;
      gap: 0.2rem;
      padding-left: $m-padding-sides;
      padding-right: $m-padding-sides;
      border-radius: $border-radius;
    }
    &:hover {
      cursor: pointer;
      background: $background-graphite;
    }
  }
  &__header-edittext {
    display: none;
    @include tablet-breakpoint {
      display: block;
      color: $primary-white;
    }
  }
  &__header-editicon {
    filter: brightness(0) invert(1);
    @include tablet-breakpoint {
      height: 55%;
    }
  }

  &__title {
    @include mobile-tablet-pageheader-text-style;
  }
  &__contact {
    padding: 1rem;
    font-size: 0.75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet-breakpoint {
      gap: 3rem;
      flex-direction: row;
      font-size: 0.875rem;
    }
  }

  &__contact-box {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include tablet-breakpoint {
      padding: 0 2rem;
      border-left: 0.0625rem solid $secondary-cloud;
    }
  }
  &__contact-mobile-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    @include tablet-breakpoint {
      display: none;
    }
  }

  &__contact-info {
    @include tablet-breakpoint {
      padding-left: 1rem;
      width: 50%;
    }
  }

  &__contact-tablet-address {
    display: none;
    @include tablet-breakpoint {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45%;
    }
  }

  &__contact-title {
    font-size: 0.625rem;
    font-weight: $semibold-txt;
    color: $secondary-slate;
    margin-bottom: 0.2rem;
    @include tablet-breakpoint {
      font-size: 0.75rem;
    }
  }
  &__contact-details {
    margin: 0;
  }

  &__options {
    display: none;

    @include tablet-breakpoint {
      @include mobile-tablet-labels-buttons-text-style;
      color: $secondary-slate;
      background-color: $background-light-grey;
      margin: 0;
      width: 100%;
      padding-left: $m-padding-sides;
      padding-right: $m-padding-sides;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__box {
    display: flex;
    align-items: center;

    width: 50%;
  }
  &__boxflex {
    display: flex;
    width: 20%;
    justify-content: flex-end;
  }
  &__list {
    width: 100%;
    height: auto;
  }
}
.inventory {
  &__card {
    width: 100%;
    display: flex;
    padding-top: $m-padding-top;
    padding-bottom: $m-padding-top;
    flex-direction: column;
    border-top: 0.1rem solid $secondary-cloud;
    @include tablet-breakpoint {
      width: 100%;
      padding-left: $m-padding-sides;
      padding-right: $m-padding-sides;
      flex-direction: row;
      justify-content: space-between;
      gap: 0.5rem;
    }
    &:hover {
      cursor: pointer;
      background-color: $background-light-grey;
    }
  }
  &__details {
    display: flex;
    justify-content: space-between;
  }
  &__mobilebox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 50%;
    padding-left: $m-padding-sides;

    @include tablet-breakpoint {
      display: none;
    }
  }
  &__tabletinfo {
    display: none;
    @include tablet-breakpoint {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__infobox {
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
  }
  &__infotitle {
    display: contents;
    @include tablet-breakpoint {
      display: none;
    }
  }
  &__actions {
    &--mobile {
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: $m-padding-sides;
      padding-right: $m-padding-sides;
    }
    &--tablet {
      display: none;
    }
    @include tablet-breakpoint {
      &--mobile {
        display: none;
      }
      &--tablet {
        display: contents;
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
      }
    }
  }
  &__infotitle {
    @include mobile-tablet-labels-buttons-text-style;
    color: $secondary-slate;
  }
  &__data {
    @include mobile-tablet-labels-buttons-text-style;
    display: flex;
    align-items: center;
    &--highlight {
      color: $primary-indigo;
    }
  }
  &__infoboxdiv {
    display: flex;
    width: auto;
    flex-direction: column;
  }
  &__datatablet {
    @include mobile-tablet-labels-buttons-text-style;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    &--highlight {
      color: $primary-indigo;
    }
  }
  &__dataaction {
    width: 20%;
  }

  &__status--instock,
  &__status--outofstock {
    display: flex;
    border-radius: $border-radius;
    padding: 0.25rem 0.5rem;
    width: auto;
    align-items: center;
    height: $height-mobile;
    @include tablet-breakpoint {
      height: $height-desktop;
    }
  }
  &__status--instock {
    color: $supporting-green;
    background-color: rgba($supporting-green, $opacity);
  }
  &__status--outofstock {
    color: $supporting-red;
    background-color: rgba($supporting-red, $opacity);
  }
}
