@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url("../../Assets/Fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TitilliumWeb-SemiBold";
  src: url("../../Assets/Fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.modal {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.modal__content {
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 0.2rem;
  height: 50%;
  max-width: 45%;
  margin-top: 15vh;
}
@media only screen and (min-width: 768px) {
  .modal__content {
    margin-top: 20vh;
    min-height: 15rem;
    max-height: 20%;
    max-width: 38rem;
  }
}
.modal__closebox {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.modal__close--mobile {
  display: block;
  cursor: pointer;
}
.modal__close--tablet {
  display: none;
}
@media only screen and (min-width: 768px) {
  .modal__close--mobile {
    display: none;
  }
  .modal__close--tablet {
    display: block;
    cursor: pointer;
  }
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}
.modal__title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin: 0;
}
@supports (font-size: clamp(0px, 0px, 0px)) {
  .modal__title {
    font-size: clamp(1.25rem, 3vw + 0.75rem, 1.5rem);
    line-height: clamp(1.75rem, 2vw, 2rem);
    font-weight: 600;
    letter-spacing: 0.05rem;
  }
}
@media only screen and (min-width: 768px) {
  .modal__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
  }
  @supports (font-size: clamp(0px, 0px, 0px)) {
    .modal__title {
      font-size: clamp(1.25rem, 3vw + 0.75rem, 1.5rem);
      line-height: clamp(1.75rem, 2vw, 2rem);
      font-weight: 600;
      letter-spacing: 0.05rem;
    }
  }
}
.modal__body {
  padding: 1rem 0;
}
.modal__message {
  font-size: 0.9375rem;
  line-height: 1.625rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}
@supports (font-size: clamp(0px, 0px, 0px)) {
  .modal__message {
    font-size: clamp(0.9375rem, 3vw + 0.75rem, 1rem);
    line-height: clamp(1.625rem, 2vw, 1.75rem);
    font-weight: 400;
    letter-spacing: 0.05rem;
  }
}
@media only screen and (min-width: 768px) {
  .modal__message {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
  }
  @supports (font-size: clamp(0px, 0px, 0px)) {
    .modal__message {
      font-size: clamp(0.9375rem, 3vw + 0.75rem, 1rem);
      line-height: clamp(1.625rem, 2vw, 1.125rem);
      font-weight: 400;
      letter-spacing: 0.05rem;
    }
  }
}
.modal__wrapper {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .modal__wrapper {
    height: 70%;
  }
}
.modal__footer {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  gap: 0.5rem;
}
.modal__button {
  font-size: 0.8125rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  width: 100%;
  height: 2.25rem;
  border-radius: 1.25rem;
  border: none;
  color: #bdc5d5;
  cursor: pointer;
}
@supports (font-size: clamp(0px, 0px, 0px)) {
  .modal__button {
    font-size: clamp(0.8125rem, 3vw + 0.75rem, 0.875rem);
    line-height: clamp(1.25rem, 2vw, 1.375rem);
    font-weight: 400;
    letter-spacing: 0.05rem;
  }
}
@media only screen and (min-width: 768px) {
  .modal__button {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
  }
  @supports (font-size: clamp(0px, 0px, 0px)) {
    .modal__button {
      font-size: clamp(0.8125rem, 3vw + 0.75rem, d-font-size-h3);
      line-height: clamp(1.25rem, 2vw, 1.375rem);
      font-weight: 400;
      letter-spacing: 0.05rem;
    }
  }
}
@media only screen and (min-width: 768px) {
  .modal__button {
    width: auto;
    white-space: nowrap;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.modal__cancel {
  color: #bdc5d5;
  border: 1px solid #bdc5d5;
  background: #ffffff;
}
.modal__cancel:hover {
  border: 1px solid #2e66e5;
  color: #2e66e5;
}
.modal__delete {
  background: #c94515;
}
.modal__delete:hover {
  background: #232940;
}/*# sourceMappingURL=WarehouseModal.css.map */