@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;
@use "../../Styles/partials/typography" as *;

.header {
  background-color: $background-graphite;
  padding-bottom: 5rem;
<<<<<<< HEAD
  // z-index: -1;
=======
>>>>>>> develop

  @include tablet-breakpoint {
    @include flex-default(center, space-between);
    padding: 0 $t-padding-sides 6rem;
  }

  @include desktop-breakpoint {
    padding: 2rem 8.125rem 7.5rem;
  }

  &__logo {
    padding: $m-padding-top 0;
    @include flex(default, center, center);
  }
  &__link {
    cursor: pointer;
  }

  &__nav-list {
    width: 100%;
    @include flex(row, center, center);
    list-style-type: none;
    padding: 0 $m-padding-sides;
    margin-bottom: $m-padding-sides;
    margin-top: 0;

    @include tablet-breakpoint {
      margin-bottom: 0;
      padding: 0;
      gap: $m-padding-sides;
    }
  }

  &__nav-item,
  &__nav-link {
    @include flex(row, center, center);
    font-family: "TitilliumWeb-SemiBold", sans-serif;
    font-weight: $semibold-txt;
    font-size: $m-font-size-h3;
    text-decoration: none;
    color: $secondary-cloud;
    height: $m-btn-height;
    border-radius: $btn-border-radius;
    border: none;
    flex: 1;
    background: none;
    height: $m-btn-height;
<<<<<<< HEAD
=======
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: underline;
      color: $primary-white;
      cursor: pointer;
    }
>>>>>>> develop

    &--clicked {
      background-color: $primary-black;
      color: $primary-white;
      // height: $m-btn-height;
    }

    @include tablet-breakpoint {
      padding: 0.5rem $m-padding-sides;
      height: $t-btn-height;
      font-size: $d-font-size-h3;
    }
    &:hover,
    &:focus,
    &:active {
      color: $primary-white;
      cursor: pointer;
    }
  }
}
