@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;
@use "../../Styles/partials/typography" as *;

footer {
  background-color: $background-light-grey;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding-top: 4rem;
  padding-bottom: 4rem;

  &__cr {
    font-family: "TitilliumWeb-Regular", sans-serif;
    color: $secondary-slate;
    text-align: center;
    @include mobile-tablet-body-p3-text-style;
  }
}
