@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;
@use "../../Styles/partials/typography" as *;

footer {
  background-color: $background-graphite;
  width: 100%;
  height: auto;

  &__cr {
    font-family: "TitilliumWeb-Regular", sans-serif;
    color: $secondary-slate;
    font-weight: $regular-txt;
    text-align: center;
    font-size: $d-font-size-p3;
    line-height: $d-line-height-p3;
    $letter-spacing: 0.011rem;

    @include tablet {
      font-size: $d-font-size-p3;
      line-height: $d-line-height-p3;

      @include mobile {
        font-size: $m-font-size-p3;
        line-height: $m-line-height-p3;
      }
    }
  }
}
