@use "../../Styles/partials/mixins" as *;
@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/typography" as *;

.inventories {
  @include component-overlay;

  &__content {
    @include component-content;
  }

  &__title {
    @include mobile-tablet-pageheader-text-style;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &__header {
    @include component-header;
    padding-bottom: $m-padding-space;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: $m-padding-space;
    @include tablet-breakpoint {
      gap: $t-padding-space;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  &__search {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  &__input {
    margin: 0;
    width: 100%;
    background-color: $background-light-grey;
    border: $form-border-default;
    height: $form-height-mobile;
    border-radius: $form-border-radius;
    padding-right: 1rem;
    padding-left: 1rem;
    &:focus {
      border: $form-border-active;
    }
  }
  &__iconbox {
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
  }

  &__button {
    @include mobile-tablet-labels-buttons-text-style;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $m-btn-width;
    height: $m-btn-height;
    border-radius: 1.25rem;
    border: none;
    background-color: #2e66e5;
    color: #f7f8f9;

    @include tablet-breakpoint {
      width: auto;
      white-space: nowrap;
      @include t-btn-width;
    }
    &:hover {
      background-color: #13182c;
      color: #f7f8f9;
      cursor: pointer;
    }
  }
  &__options {
    display: none;

    @include tablet-breakpoint {
      @include mobile-tablet-labels-buttons-text-style;
      font-size: 0.8125rem;
      font-weight: $semibold-txt;
      color: $secondary-slate;
      background-color: $background-light-grey;
      margin: 0;
      width: 100%;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      padding-left: $m-padding-sides;
      padding-right: $m-padding-sides;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    width: 50%;
  }
  &__boxflex {
    display: flex;
    width: 15%;
    justify-content: flex-end;
  }
  &__list {
    width: 100%;
    height: auto;
  }
  &__card {
    width: 100%;
    display: flex;
    padding-top: $m-padding-top;
    padding-bottom: $m-padding-top;
    padding-left: $m-padding-sides;
    padding-right: $m-padding-sides;
    flex-direction: column;
    border-top: 0.0625rem solid $secondary-cloud;

    @include tablet-breakpoint {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
    &:hover {
      background-color: rgba($primary-indigo, $opacity);
      cursor: pointer;
    }
  }

  &__mobiledetails {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 1rem;
    @include tablet-breakpoint {
      display: none;
    }
  }

  &__mobilebox1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    @include tablet-breakpoint {
      display: none;
    }
  }

  &__mobilebox2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    @include tablet-breakpoint {
      display: none;
    }
  }

  &__tabletinfo {
    display: none;
    @include tablet-breakpoint {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__infobox {
    width: 10rem;
    display: inline-block;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
  }
  &__infotitle {
    display: contents;
    font-size: 0.75rem;
    font-weight: $semibold-txt;

    @include tablet-breakpoint {
      display: none;
    }
  }

  &__infodata-wrap {
    display: flex;
    gap: 0.2rem;
  }

  &__arrowicon {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
  }

  &__data-name {
    @include mobile-tablet-labels-buttons-text-style;
    color: $primary-indigo;
    font-weight: $semibold-txt;
  }

  &__data--in-stock {
    @include mobile-tablet-labels-buttons-text-style;

    color: $supporting-green;
    font-weight: $semibold-txt;
    text-transform: uppercase;
    background-color: rgba($supporting-green, 7%);
    padding: 0.15rem 0.5rem;
    border-radius: 1.25rem;
    width: max-content;
  }

  &__data--out-of-stock {
    @include mobile-tablet-labels-buttons-text-style;
    color: $supporting-red;
    font-weight: $semibold-txt;
    text-transform: uppercase;
    background-color: rgba($supporting-red, 7%);
    padding: 0.15rem 0.5rem;
    border-radius: 1.25rem;
    width: max-content;
  }

  &__actions {
    &--mobile {
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &--tablet {
      display: none;
    }
    @include tablet-breakpoint {
      width: 15%;
      display: flex;
      justify-content: flex-end;
      &--mobile {
        display: none;
      }
      &--tablet {
        display: contents;
        display: flex;
        gap: 0.5rem;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__infotitle {
    @include mobile-tablet-labels-buttons-text-style;
    color: $secondary-slate;
  }
  &__data {
    @include mobile-tablet-labels-buttons-text-style;

    &--highlight {
      color: $primary-indigo;
    }
  }

  &__infoboxdiv {
    display: flex;
    width: 20%;
    flex-direction: column;
  }
  &__datatablet {
    @include mobile-tablet-labels-buttons-text-style;

    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    &--highlight {
      color: $primary-indigo;
    }
  }

  &__datatablet-name-icon-wrap {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  &__datatablet-name {
    font-size: 0.875rem;
    font-weight: $semibold-txt;
    color: $primary-indigo;
  }

  &__datatablet--in-stock {
    font-size: 0.75rem;
    font-weight: $semibold-txt;
    color: $supporting-green;
    text-transform: uppercase;
    background-color: rgba($supporting-green, 7%);
    padding: 0.25rem 0.5rem;
    border-radius: 1.5625rem;
    width: max-content;
  }

  &__datatablet--out-of-stock {
    font-size: 0.75rem;
    font-weight: $semibold-txt;
    color: $supporting-red;
    text-transform: uppercase;
    background-color: rgba($supporting-red, 7%);
    padding: 0.25rem 0.5rem;
    border-radius: 1.5625rem;
    width: max-content;
  }
}
